{% extends 'main/layout.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="features">
    <h1 style="text-align: center;">Главная страница</h1>
    <p style="text-indent: 30px">Добро пожаловать на главную страницу нашего удивительного бота, где искусственный интеллект встречается с творчеством! Мы создали этого бота, чтобы сделать ваш онлайн опыт ещё более захватывающим и интересным.</p>

    <p style="text-indent: 30px">
      🚀 <b>Что мы предлагаем:</b>
    </p>
    <p style="text-indent: 30px">- 🤖 Умный чат: Общайтесь с нашим ботом, который обучен на самых передовых технологиях и готов ответить на ваши вопросы.</p>
    <p style="text-indent: 30px">- 🎨 Творчество: Дайте волю своей фантазии и создайте что-то уникальное с помощью наших креативных инструментов и генераторов текста.</p>
    <p style="text-indent: 30px">- 🌐 Многоязычность: Наш бот готов общаться с вами на нескольких языках, чтобы сделать ваш опыт максимально удобным.</p>

    <p style="text-indent: 30px">
      🔍 <b>Почему выбирают нас:</b>
    </p>
    <p style="text-indent: 30px">Наша команда стремится предоставить вам лучший опыт в мире искусственного интеллекта. Мы постоянно развиваемся, чтобы удовлетворить все ваши потребности и создать неповторимый онлайн мир.</p>

    <p style="text-align: center;">
      🌟 <b>Присоединяйтесь к нам сегодня и откройте для себя новый уровень взаимодействия с технологиями! 🌟</b>
    </p>
    <button class="btn btn-warning">На страницу про нас</button>
  </div>
{% endblock %}
