{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% block head %}

    {% endblock %}
    <!-- Bootstrap CSS -->
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" /> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />

    <!-- эконки вкладки -->
    <link rel="icon" href="{% static 'main/img/logo.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'main/img/logo.png' %}" type="image/png" />
  </head>
  <body>
    <header>
      <a href="https://www.sut.ru/" target="_blank"><img src="{% static 'main/img/sut-logo-orange.png' %}" alt="Логотип СПбГУТ" /></a>
      {% block header %}
        <p class="title_name">{{ title }}</p>
      {% endblock %}
      <div class="Calendar">
        <p class="otstup" id="current-date"></p>
        <p id="semester-info"></p>
      </div>
      <div class="LMS">
        <p class="otstup">СПбГУТ</p>
        <p>
          <a href="https://lms.spbgut.ru/login/index.php" target="_blank">🔗LMS СЭО🔗</a>
        </p>
      </div>
    </header>
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle"><span></span></label>
      <ul class="menu__box">
        <p class="name_menu">
          <b>GUTIS</b>
        </p>
        <div style="width: 80px; height: 80px; margin-top: -85.5px; margin-left: 33px; position: fixed;"></div>
        <img src="{% static 'main/img/new_logo.svg' %}" style="width: 80px; height: 80px; margin-top: -90px; margin-right: 155px;" alt="Логотип" />
        <br />
        <br />
        <li>
          <a class="menu__item" href="{% url 'home' %}">Главная🏠</a>
        </li>
        <li>
          <a class="menu__item" href="{% url 'home' %}">Профиль👤</a>
        </li>
        <li>
          <a class="menu__item" href="#">План на семестр📆</a>
        </li>
        <li>
          <a class="menu__item" href="#">Учебный план📚</a>
        </li>
        <li>
          <a class="menu__item" href="#">Расписание📄</a>
        </li>
        <li>
          <a class="menu__item" href="{% url 'feedback' %}">Отзывы📝</a>
        </li>
        <li>
          <a class="menu__item" href="#">Форум🗣️</a>
        </li>
        <li>
          <a class="menu__item" href="#">Настройки⚙️</a>
        </li>
        <br />
        <br />
        <li>
          <a style="text-align: center;" class="menu__item shimmer-text" href="#">💲GUTIS PRO💲</a>
        </li>
      </ul>
    </div>
    {% block content %}

    {% endblock %}

    {% block script %}

    {% endblock %}
    <script src="{% static 'main/js/main.js' %}" defer></script>
  </body>
</html>
